@font-face {
	font-family: "Lemon Milk";
	font-weight: 400;
	font-style: normal;
	src: url("../font/Lemon\ Milk\ Pro\ Regular.otf");
}
@font-face {
	font-family: "Lemon Milk";
	font-weight: 400;
	font-style: italic;
	src: url("../font/Lemon\ Milk\ Pro\ Regular\ Italic.otf");
}
@font-face {
	font-family: "Lemon Milk";
	font-weight: 700;
	font-style: normal;
	src: url("../font/Lemon\ Milk\ Pro\ Bold.otf");
}
@font-face {
	font-family: "Lemon Milk";
	font-weight: 700;
	font-style: italic;
	src: url("../font/Lemon\ Milk\ Pro\ Bold\ Italic.otf");
}
@font-face {
	font-family: "Lemon Milk";
	font-weight: 300;
	font-style: normal;
	src: url("../font/Lemon\ Milk\ Pro\ Medium.otf");
}
@font-face {
	font-family: "Lemon Milk";
	font-weight: 300;
	font-style: italic;
	src: url("../font/Lemon\ Milk\ Pro\ Medium\ Italic.otf");
}
@font-face {
	font-family: "Lemon Milk";
	font-weight: 200;
	font-style: normal;
	src: url("../font/Lemon\ Milk\ Pro\ Ultra\ Light.otf");
}
@font-face {
	font-family: "Lemon Milk";
	font-weight: 200;
	font-style: italic;
	src: url("../font/Lemon\ Milk\ Pro\ Ultra\ Light\ Italic.otf");
}

:root {
	--background-color: #1a2026;
	--paper-color: #242d35;
	--gray: #526170;
	--primary-color: #6ec1d6;
	--secondary-color: #7fe4d2;
	--tertairy-color: #cd84c8;
	--quadairy-color: #f692b2;
	--green: #94cf95;
}

body {
	/* font-family: "Lemon Milk"; */
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	background-color: var(--background-color);
	padding: 0;
	margin: 0;
	color: white;
	background-repeat: no-repeat;
}

.box-shadow {
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.paper-box {
	background-color: var(--paper-color);
	border-radius: 8px;
	padding: 40px;
	margin: 20px;
	overflow: hidden;
}

.paper-box-no-padding {
	background-color: var(--paper-color);
	border-radius: 3px;
	margin: 20px;
	overflow: hidden;
}

.box-padding {
	padding: 40px;
}

.width-100 {
	width: 100%;
}

.width-50 {
	width: 50%;
}

.width-40 {
	width: 40%;
}

.height-100 {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	/* color: var(--quadairy-color); */
	font-family: "Lemon Milk";
}

nav .active {
	color: var(--primary-color);
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--paper-color);
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: transparent;
	transition: background-color 0.3s;
	font-family: "Lemon Milk";
}

nav li a:hover {
	background-color: var(--primary-color);
	color: white;
}

nav .logo {
	height: 40px;
	float: right;
	padding: 5px;
	opacity: 0.2;
}
nav img {
	height: 100%;
}

footer {
	margin: 20px;
	text-align: center;
	color: var(--gray);
}

.button {
	margin: 20px;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	background-color: var(--quadairy-color);
	text-decoration: none;
	color: white;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--secondary-color);
}

.flex {
	display: flex;
	flex-direction: row;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.flex {
		flex-direction: column;
	}
}

a {
	color: var(--quadairy-color);
}

.list-no-style {
	list-style-type: none;
}

.icon-button {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	margin: 5px;
	background-color: var(--paper-color);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
		45deg,
		var(--quadairy-color),
		var(--secondary-color)
	);
	transition: box-shadow 0.3s;
}
.icon-button:hover {
	box-shadow: 0 0px 3px 3px var(--tertairy-color);
}
.icon-button a {
	color: white;
}
