:root {
    --neutral-1: hsl(354, 2%, 88%);
    --neutral-2: hsl(354, 3%, 66%);
    --neutral-3: hsl(354, 5%, 40%);
    --neutral-4: hsl(354, 8%, 23%);
    --neutral-5: hsl(354, 12%, 14%);
    --neutral-6: hsl(354, 18%, 11%);
    --neutral-7: hsl(354, 24%, 8%);
    --neutral-8: hsl(354, 28%, 6%);
    --neutral-9: hsl(354, 30%, 3%);

    --primary-1: hsl(267, 100%, 94%);
    --primary-2: hsl(267, 100%, 90%);
    --primary-3: hsl(267, 100%, 85%);
    --primary-4: hsl(267, 96%, 81%);
    --primary-5: hsl(267, 93%, 77%);
    --primary-6: hsl(267, 52%, 61%);
    --primary-7: hsl(267, 39%, 47%);
    --primary-8: hsl(267, 33%, 34%);
    --primary-9: hsl(267, 30%, 24%);

    --alpha-white-10: rgba(255, 255, 255, 0.1);
    --alpha-white-20: rgba(255, 255, 255, 0.2);
    --alpha-white-30: rgba(255, 255, 255, 0.3);
    --alpha-white-40: rgba(255, 255, 255, 0.4);
    --alpha-white-50: rgba(255, 255, 255, 0.5);
    --alpha-white-60: rgba(255, 255, 255, 0.6);
    --alpha-white-70: rgba(255, 255, 255, 0.7);
    --alpha-white-80: rgba(255, 255, 255, 0.8);
    --alpha-white-90: rgba(255, 255, 255, 0.9);

    --alpha-black-10: rgba(0, 0, 0, 0.1);
    --alpha-black-20: rgba(0, 0, 0, 0.2);
    --alpha-black-30: rgba(0, 0, 0, 0.3);
    --alpha-black-40: rgba(0, 0, 0, 0.4);
    --alpha-black-50: rgba(0, 0, 0, 0.5);
    --alpha-black-60: rgba(0, 0, 0, 0.6);
    --alpha-black-70: rgba(0, 0, 0, 0.7);
    --alpha-black-80: rgba(0, 0, 0, 0.8);
    --alpha-black-90: rgba(0, 0, 0, 0.9);
}