@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --font-brand: 'Montserrat';
    --font-body: 'Raleway';
    --font-mono: 'IBM Plex Mono';

    --font-size-xs: 0.8rem;
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
}

body {
    color: var(--neutral-1);
    font-family: var(--font-body), sans-serif;
    font-weight: 400;
    //letter-spacing: 0.5px;
    //line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-1);
    font-family: var(--font-brand), sans-serif;
    //letter-spacing: 2px;
    //line-height: 1.2;
    font-weight: 600;
    margin: 0;
}

p {
    color: var(--neutral-2);
    font-weight: 400;
    letter-spacing: 0.0625rem;
    line-height: 2;
    margin: 0;
}

a {
    color: var(--neutral-2);
    text-decoration: none;
    font-weight: 500;
    //letter-spacing: 0.5px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.typography {
    &__display {
        font-family: var(--font-brand), sans-serif;
        color: var(--primary-5);
        letter-spacing: 0.125rem;
        line-height: 1.2;
        font-weight: 600;
    }

    &__label {
        font-family: var(--font-brand), sans-serif;
        color: var(--neutral-1);
        font-size: var(--font-size-s);
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 1;
        margin: 0;
    }
}