.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at bottom center, var(--background-layer-1), var(--background-main));
    z-index: -1;
    pointer-events: none;
}