:host {
    & {
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacer-32);
        padding: var(--spacer-16);
    }
}

.social {
    color: var(--neutral-3);
    transition: color 0.4s ease;

    &:hover {
        color: var(--neutral-2);
    }
}