<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="shortcut icon"
            href="images/Nielzos Films.ico"
            type="image/x-icon"
    />
    <link rel="stylesheet" href="css/style.min.css" />
    <title>Niels Hazelaar</title>
</head>
<body>
    <h1 class="text-seance-500 transition-all duration-500 hover:text-seance-300">Bla</h1>
    <%- name %>
    <%- person.age %>
    <%- include('./html/content.ejs') -%>
</body>
</html>