@use 'styles/_colors';
@use 'styles/_typography';
@use 'styles/_spacers';

html {
    background: var(--neutral-5);
}

body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-8);
    color: var(--primary-1);
    margin-bottom: var(--spacer-64);
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    padding: var(--spacer-12) var(--spacer-32);
    background: var(--primary-5);
    color: var(--neutral-9);
    border-radius: var(--border-radius-rounded);
    cursor: pointer;

    &:hover {
        background: linear-gradient(0deg, var(--alpha-white-10), var(--alpha-white-10)), var(--primary-5);
    }
}

.button--secondary {
    background: transparent;
    border: 2px solid var(--color-secondary);
    color: var(--text);

    &:hover {
        background: var(--alpha-white-10);
    }
}

.button--ghost {
    background: transparent;
    color: var(--text);

    &:hover {
        background: var(--alpha-white-10);
    }
}